@charset "utf-8";
@font-face {
    font-family: "SourceHanSansCN";
    src: url('../fonts/SourceHanSansCN.eot?t=1502934803553');
    /* IE9*/
    src: url('../fonts/SourceHanSansCN.eot?t=1502934803553#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/SourceHanSansCN.woff?t=1502934803553') format('woff'), /* chrome, firefox */ url('../fonts/SourceHanSansCN.ttf?t=1502934803553') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/SourceHanSansCN.svg?t=1502934803553#SourceHanSansCN') format('svg');/* iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot?t=1502934803553');
    /* IE9*/
    src: url('../fonts/iconfont.eot?t=1502934803553#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff?t=1502934803553') format('woff'), /* chrome, firefox */ url('../fonts/iconfont.ttf?t=1502934803553') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg?t=1502934803553#iconfont') format('svg');/* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 0.2rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dlmm:before {
    content: "\e603";
}

.icon-cha:before {
    content: "\e606";
}

.icon-jia1:before {
    content: "\e688";
}

.icon-denglu:before {
    content: "\e617";
}

.icon-guanbi:before {
    content: "\e64e";
}

.icon-jinlingyingcaiwangtubiao29:before {
    content: "\e600";
}

.icon-jian:before {
    content: "\e650";
}

.icon-chakanmima:before {
    content: "\e631";
}

html,
body {
    font-family: "Hiragino Sans GB", "SourceHanSansCN", Helvetica, Arial, sans-serif;
    /* 第二个是第三方字体 */
    font-style: normal;
    -webkit-user-select: none;
    /* 禁止页面文字选择 */
}

.rest-assured {
    width: 100%;
    height: auto;
    background: #f0f3fa;
}

header {
    background: #4878e7;
}

header img {
    width: 0.8rem;
    height: 0.8rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin: 0.25rem 0.35rem auto 0.35rem;
}

header p {
    width: 70%;
    height: 1.3rem;
    float: left;
    line-height: 1.3rem;
    font-size: 0.4rem;
    color: #fff;
}

.rest-assured-main {
    width: 95%;
    height: auto;
    margin: 0.2rem auto auto auto;
    background: #fff;
    padding: 0.3rem 0;
}

.rest-assured-main-nav {
    width: 95%;
    height: auto;
    margin: 0 auto;
    background: #eaeef9;
}

.rest-assured-main-nav ul li {
    float: left;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.3rem;
    color: #566079;
    text-align: center;
    overflow: hidden;
}

.rest-assured-main-nav ul li:nth-child(1) {
    width: 40%;
}

.rest-assured-main-nav ul li:nth-child(2) {
    width: 30%;
}

.rest-assured-main-nav ul li:nth-child(3) {
    width: 30%;
}

.rest-assured-main-list {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

.rest-assured-main-list dl dt {
    width: 100%;
    height: auto;
    margin: 0.1rem auto;
}

.rest-assured-main-list dl dt ul li {
    float: left;
    line-height: 0.8rem;
    font-size: 0.25rem;
    text-align: center;
    color: #000;
}

.rest-assured-main-list dl dt ul li:nth-child(1) {
    width: 40%;

}

.rest-assured-main-list dl dt ul li:nth-child(2) {
    width: 35%;
}

.rest-assured-main-list dl dt ul li:nth-child(3) {
    width: 25%;
}

.rest-assured-main-service {
    width: 95%;
    height: auto;
    margin: 0.3rem auto;
    border: 1px #eaeef9 solid;
    padding: 0.2rem 0;
}

.rest-assured-main-service dl dt {
    width: 100%;
    height: auto;
    margin: 0.1rem auto;
}

.rest-assured-main-service dl dt ul li {
    float: left;
    line-height: 0.5rem;
    font-size: 0.25rem;
    text-indent: 0.2rem;
    color: #000;
}

.rest-assured-main-service dl dt ul li:nth-child(1) {
    width: 40%;
    text-align: left;

}

.rest-assured-main-service dl dt ul li:nth-child(2) {
    width: 57%;
    text-align: right;
    padding-right: 3%;
}
.width-kz{
    width: 48%!important;
}
.width-kz span{
     width: 52%;
     display: block;
    float: left;
    height: 0.5rem;
    overflow: hidden;
    /*text-align: left;*/
 }
.width-kz p{
    width: 48%;
    float: left;
    height: 0.5rem;
    /*text-align: left;*/
    overflow: hidden;
}
.rest-assured-main-repair {
    width: 95%;
    height: auto;
    margin: 0 auto 0.3rem;
    border: 1px #eaeef9 solid;
    padding: 0.2rem 0;
}

.rest-assured-main-repair dl dt {
    width: 100%;
    height: auto;
    margin: 0.1rem auto;
}

.rest-assured-main-repair dl dt ul li {
    float: left;
    line-height: 0.5rem;
    font-size: 0.25rem;
    text-indent: 0.2rem;
    color: #000;
}

.rest-assured-main-repair dl dt ul li:nth-child(1) {
    width: 40%;
    text-align: left;

}

.rest-assured-main-repair dl dt ul li:nth-child(2) {
    width: 57%;
    text-align: right;
    padding-right: 3%;
}

.rest-button-servlist {
    width: 30%;
    height: auto;
    line-height: 0.6rem;
    font-size: 0.3rem;
    background: #4878e7;
    color: #fff;
    float: right;
    margin: 0.2rem 0.2rem 0.1rem auto;
    text-align: center;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.rest-assured-button-li {
    width: 90%;
    margin: 0.1rem auto;
    color: #fff;
    font-size: 0.28rem;
    line-height: 0.6rem;
    background: #4878e7;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}
.list-over{
    width: 90%;
    margin: 0.1rem auto;
    color: #333;
    font-size: 0.28rem;
    line-height: 0.6rem;
    background: #eaeef9 ;
    text-align: center;
}
/*index end*/
.form-main {
    width: 95%;
    height: auto;
    margin: 0.2rem auto auto auto;
    background: #fff;
    border: 1px #999999 solid;
    border-bottom: none;
    -moz-border-radius: 0.2rem 0.2rem 0 0;
    -webkit-border-radius: 0.2rem 0.2rem 0 0;
    border-radius: 0.2rem 0.2rem 0 0;
}

.form-main-head {
    width: 100%;
    height: auto;
    background: #eaeef9;
    font-size: 0.3rem;
    line-height: 0.8rem;
    color: #000;
    -moz-border-radius: 0.2rem 0.2rem 0 0;
    -webkit-border-radius: 0.2rem 0.2rem 0 0;
    border-radius: 0.2rem 0.2rem 0 0;
    text-indent: 0.2rem;
}

.form-main-list {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.form-main-list dl dt {
    width: 100%;
    height: auto;
    border-bottom: 1px #999 solid;
    line-height: 0.5rem;
    color: #000;
    font-size: 0.3rem;
    padding: 0.2rem 0;
}

.form-main-list dl dt span {
    display: block;
    width: 30%;
    float: left;
    overflow: hidden;
}

.form-main-list dl dt p {
    width: 70%;
    float: left;
}

.form-main-botton {
    width: 80%;
    height: auto;
    line-height: 1rem;
    font-size: 0.4rem;
    color: #fff;
    background: #4878e7;
    text-align: center;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 auto;
}

/*form end*/
.add-main {
    width: 95%;
    height: auto;
    margin: 0.2rem auto auto auto;
    background: #fff;
}

.add-main-botton {
    width: 80%;
    height: auto;
    line-height: 1rem;
    font-size: 0.4rem;
    color: #fff;
    background: #4878e7;
    text-align: center;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 auto;
}

.add-main-title {
    width: 100%;
    line-height: 0.8rem;
    font-size: 0.4rem;
    color: #3e3e3e;
    text-indent: 0.3rem;
    padding: 0.2rem 0;
}

.add-main-content {
    width: 95%;
    height: 2.5rem;
    overflow-y: auto;
    margin: 0 auto 0.8rem auto;
    border: 1px #bec9e5 solid;
    -moz-border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
}

.add-list, .add-list1 {
    width: 95%;
    margin: 0 2.5% 0.35rem 2.5%;
    height: 0.6rem;
    line-height: 0.6rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    border: 1px #bdc8e4 solid;
    text-indent: 8%;
    font-size: 0.3rem;
    color: #b2b3b5;
    background: url("../img/arrow.png") no-repeat scroll 95% center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
}

.add-list2 {
    width: 95%;
    margin: 0 auto;
    min-height: 1rem;
    height: auto;
}

.seled, .seledt {
    width: auto;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    border: 1px #4878e7 solid;
    color: #4878e7;
    line-height: 0.5rem;
    font-size: 0.25rem;
    text-align: center;
    float: left;
    padding: 0 0.2rem;
    margin: 0 0.2rem 0.2rem 0;
}

.add-pop-shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9900;
    overflow: hidden;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.add-pop {
    width: 90%;
    height: auto;
    background: #fff;
    -moz-border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    margin: 50% auto auto auto;
    padding-bottom: 0.5rem;
    display: none;
}

.add-pop span {
    float: left;
    display: block;
    width: 80%;
    line-height: 0.6rem;
    font-size: 0.35rem;
    color: #000;
    text-indent: 0.5rem;
    overflow: hidden;
    margin-top: 0.3rem;
}

.icon-guanbi {
    font-size: 0.6rem;
    color: #4878e7;
    float: right;
    margin: 0.3rem 0.3rem auto auto;
}

.add-pop-list {
    width: 95%;
    margin: 1rem auto;
    height: auto;
}

.selei {
    width: auto;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    border: 1px #4878e7 solid;
    color: #4878e7;
    line-height: 0.5rem;
    font-size: 0.25rem;
    text-align: center;
    float: left;
    padding: 0 0.5rem;
    margin-left: 0.4rem;
}

.add-pop-list-right {
    float: right;
    margin-right: 0.4rem;
}

.add-pop-list-right .nums {
    float: left;
    width: 1rem;
    height: 0.48rem;
    border: 1px #4878e7 solid;
    text-align: center;
    font-size: 0.3rem;
    color: #000;
    line-height: 0.48rem;
    margin: 0 0.1rem;
}

.icon-jian {
    float: left;
    font-size: 0.5rem;
    color: #4878e7;
}

.icon-jia1 {
    float: left;
    font-size: 0.5rem;
    color: #4878e7;
}

.add-pop-button {
    width: 35%;
    margin: 0 auto;
    line-height: 0.8rem;
    font-size: 0.35rem;
    color: #fff;
    text-align: center;
    background: #4878e7;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.cong-add {
    width: auto;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    border: 1px #4878e7 solid;
    color: #000;
    line-height: 0.5rem;
    font-size: 0.25rem;
    text-align: center;
    float: left;
    padding: 0 0.2rem;
    margin: 0.2rem 0.2rem;

}

.icon-cha {
    position: relative;
    font-size: 0.3rem;
    color: red;
    right: -0.3rem;
    top: -0.2rem;
    z-index: 22;
}

/*add end*/
.rest-list-main {
    width: 95%;
    height: auto;
    margin: 0.2rem auto auto auto;
    background: #fff;
    padding: 0.3rem 0;
}

.rest-list-main label {
    width: 20%;
    height: 0.6rem;
    line-height: 0.6rem;
    padding-left: 5%;
    font-size: 0.3rem;
    color: #b2b3b5;
}

.rest-list {
    width: 75%;
    margin: 0 2.5% 0.35rem 2.5%;
    height: 0.6rem;
    line-height: 0.6rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    border: 1px #bdc8e4 solid;
    text-indent: 8%;
    font-size: 0.3rem;
    color: #b2b3b5;
    background: url(../img/arrow.png) no-repeat scroll 95% center transparent;
    padding-right: 14px;
}

.rest-list-control {
    width: 71%;
    margin: 0 7.3% 0.35rem 0;
    height: 0.55rem;
    line-height: 0.55rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    border: 1px #bdc8e4 solid;
    text-indent: 8%;
    float: right;
    color: #b2b3b5;
    font: 0.3rem Arial;
    padding-right: 14px;
}

/*list end*/
.rest-button-main {
    width: 95%;
    height: auto;
    margin: 0.2rem auto auto auto;
    background: #fff;
    padding: 0.3rem 0;
}

.rest-button-list {
    width: 80%;
    height: auto;
    line-height: 1rem;
    font-size: 0.4rem;
    color: #4878e7;
    border: 1px #4878e7 solid;
    margin: 0.5rem auto;
    text-align: center;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.rest-list-button {
    width: 80%;
    height: auto;
    line-height: 1rem;
    font-size: 0.4rem;
    border: 1px #4878e7 solid;
    margin: 0.5rem auto;
    text-align: center;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    color: #fff;
    background: #4878e7;
}

.loadin {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 220;
    opacity: 0.3;
}

.loading {
    width: 50%;
    height: 2rem;
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 222;
    background: url("../img/loading.gif") no-repeat center;
}

/*button end*/
.con-button-main {
    width: 95%;
    height: auto;
    margin: 0.2rem auto auto auto;
    background: #fff;
    padding: 0.3rem 0;
}

.con-button-list {
    width: 80%;
    height: auto;
    line-height: 1rem;
    font-size: 0.4rem;
    color: #fff;
    background: #4878e7;
    border: 1px #4878e7 solid;
    margin: 0.5rem auto;
    text-align: center;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.condisplay {
    display: none;
}

/*conbutton end*/
.piclist-main {
    width: 95%;
    height: auto;
    margin: 0.2rem auto auto auto;
    padding-bottom: 0.2rem;
    background: #fff;
    border: 1px #999999 solid;
    border-bottom: none;
    -moz-border-radius: 0.2rem 0.2rem 0 0;
    -webkit-border-radius: 0.2rem 0.2rem 0 0;
    border-radius: 0.2rem 0.2rem 0 0;
}

.piclist-li {
    width: 95%;
    height: auto;
    margin: 0.2rem auto auto auto;
    text-align: center;
    -moz-border-radius: 0.2rem 0.2rem 0 0;
    -webkit-border-radius: 0.2rem 0.2rem 0 0;
    border-radius: 0.2rem 0.2rem 0 0;
}

.piclist-li img {
    width: 5rem;
    height: 3rem;
    border: none;
    -moz-border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    border-radius: 0.1rem;
}

/*piclist end*/
.formedit-main-list {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 0.8rem;
}

.formedit-main-list dl dt {
    width: 100%;
    height: auto;
    /*border-bottom: 1px #999 solid;*/
    line-height: 0.5rem;
    color: #000;
    font-size: 0.3rem;
    padding: 0.2rem 0;
}

.edit-form-bor {
    border-bottom: 1px #999 solid;
}

.formedit-main-list dl dt span {
    display: block;
    width: 30%;
    float: left;
    overflow: hidden;
}

.formedit-main-list dl dt p {
    width: 70%;
    float: left;
    text-align: right;
}

.formedit-main-botton {
    width: 80%;
    height: auto;
    line-height: 1rem;
    font-size: 0.4rem;
    color: #fff;
    background: #4878e7;
    text-align: center;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 auto;
}

.complain-main-botton {
    width: 80%;
    height: auto;
    line-height: 1rem;
    font-size: 0.4rem;
    color: #fff;
    background: #4878e7;
    text-align: center;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin: 2rem auto auto auto;
}

.inputre {
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    border: none;
    color: #999;
    font: 0.25rem Arial;

    text-align: right;
    letter-spacing: 0.01rem;
    background: #fff;
}

.textareare {
    width: 100%;
    height: 2rem;
    line-height: 0.4rem;
    margin: 0 auto;
    border: 1px #999 solid;
    color: #999;
    font: 0.25rem Arial;

    text-align: left;
    text-indent: 0.2rem;
    letter-spacing: 0.01rem;
    background: #f0f3fa;
    padding: 0.2rem 0;
}

.access-main-list {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 0.8rem;
}

.access-main-list dl dt {
    width: 100%;
    height: auto;
    /*border-bottom: 1px #999 solid;*/
    line-height: 0.8rem;
    color: #000;
    font-size: 0.3rem;
    padding: 0.2rem 0 0 0;
}

.access-main-list dl dt span {
    display: block;
    width: 25%;
    float: left;
    text-align: center;
    overflow: hidden;

}

.access-main-list dl dt p {
    width: 25%;
    float: left;
    text-align: center;

}

.star-rating {
    width: 50%;
    float: left;
    line-height: 0.8rem;
    text-align: center;
}

.star-rating label {
    width: auto;
    height: auto;
    line-height: 0.8rem;
    color: #000;
    font-size: 0.3rem;
}

.icon-jinlingyingcaiwangtubiao29 {
    font-size: 0.6rem;
    color: #e5e5e5;
    line-height: 0.8rem;
}

.addcolor {
    color: #4878e7;
}

/*formedit access complain end*/

.login-back {
    width: 100%;
    height: auto;
}

.login-back img {
    width: 100%;
    height: auto;
    border: none;
}

.form-horizontal {
    background: #fff;
    text-align: center;
}

.form-horizontal .form-group {
    width: 80%;
    margin: 0 auto 20px auto;
    position: relative;
}

.form-horizontal .form-control {
    background: #fff;
    border: 1px #c6c6c6 solid;
    box-shadow: none;
    /*padding: 0 0.5rem 0 1.3rem;*/
    height: 0.8rem;
    text-indent: 1rem;
    transition: all 0.3s ease 0s;
    display: block;
    width: 100%;
    font-size: 0.3rem;
    line-height: 0.8rem;
    color: #c6c6c6;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.form-horizontal .form-group i {
    position: absolute;
    top: 0.2rem;
    left: 0.3rem;
    font-size: 0.4rem;
    color: #c6c6c6;
    transition: all 0.5s ease 0s;
}

.form-horizontal .fa-question-circle {
    display: inline-block;
    position: absolute;
    top: 0.2rem;
    right: 0.3rem;
    font-size: 0.5rem;
    color: #c6c6c6;
    transition: all 0.5s ease 0s;
}

.icon-denglumima {
    font-size: 0.65rem !important;
    top: 0.22rem !important;
    left: 1.05rem !important;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c6c6c6;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c6c6c6;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #c6c6c6;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: #c6c6c6;
    opacity: 1;
}

.login-button {
    width: 80%;
    height: auto;
    line-height: 1rem;
    font-size: 0.4rem;
    color: #fff;
    background: #4878e7;
    border: none;
    margin: 1.5rem auto auto auto;
    text-align: center;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    letter-spacing: 0.2rem;
}

/*userlogin end*/

/*repair end*/
/*pad-pro横屏*/
@media only screen and (min-width: 1366px) {

}

/*pad横屏*/
@media only screen and (min-width: 1024px) {

}

/*pad竖屏*/
@media only screen and (min-width: 768px) {

}